.value-desc {

}
.value-desc > .value {
    text-align: center;
}
.value-desc > .desc {
    padding-right: 0.5rem;
    text-align: center;
    padding-left: 0.5rem;
    font-weight: 700;
    color:#777777;
    font-size: 0.8rem;
}