.value-desc {
    display: flex;
}
.value-desc > .value {
    flex-grow: 1;
}
.value-desc > .desc {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-weight: 700;
    color:#777777;
    font-size: 0.8rem;
}