.dashboard {
    display: flex;
    flex-wrap: wrap;
}

.single-product {
    display: flex;
    padding: 1rem;
    margin: 1rem auto !important;
    width: 30rem;
}

.single-product > .picture {
    flex-grow: 1;
}

.single-product > .picture > img {
    max-width: 10rem;
}

.single-product > .description {
    flex-grow: 1;
}

.search-field {
    padding: 20px;
    display: flex;
}

.search-field > div {
    flex-grow: 1;
}
.search-icon {
    font-size: 35px;
    padding-top: 15px;
    padding-right: 15px;
}